/*
Theme Name: {{config('app.name')}}
Theme URI: http://www.ansonika.com/{{config('app.name')}}/
Author: Ansonika
Author URI: http://themeforest.net/user/Ansonika/

[Table of contents]

1. SITE STRUCTURE and TYPOGRAPHY
- 1.1 Typography
- 1.2 Buttons
- 1.3 Structure

2. CONTENT
- 2.1 Home
- 2.2 Listing
- 2.3 Detail page
- 2.4 Write a review page
- 2.5 Login/register
- 2.6 Company landing
- 2.7 Pricing page
- 2.8 Faq/help
- 2.9 Contacts
- 2.10 Company categories
- 2.11 User Dashboard
- 2.12 About

3. COMMON
- 3.1 Misc
- 3.2 Spacing
- 3.3 Cookie bar
- 3.4 Sing In Modal

/*============================================================================================*/
/* 1.  SITE STRUCTURE and TYPOGRAPHY */
/*============================================================================================*/

@import 'variables';
@import 'mixin';

/* MAIN NAVIGATION */
/* All styles for screen size over 992px*/
@media only screen and (min-width: 992px) {
	nav#menu.main-menu {
		display: block !important;
	}
	#mm-menu.main-menu {
		display: none !important;
	}
	header .btn_mobile {
		display: none !important;
	}
	/* Menu */
	.main-menu {
		position: relative;
		z-index: 9;
		width: auto;
		top: 8px;
		right: 15px;
		float: right;
		@include transition-default;
		color: #fff;
		ul,
		ul li {
			position: relative;
			display: inline-block;
			margin: 0;
			padding: 0;
			a {
				position: relative;
				margin: 0;
				padding: 0;
				display: block;
				padding: 5px 10px;
				white-space: nowrap;
			}
		}
	}
	/*First level styles */
	.main-menu>ul>li span {
		>a {
			color: #fff;
			padding: 0 8px 15px 8px;
			@include fontSize(14px);
			font-weight: 500;
		}
		&:hover>a {
			opacity: 0.7;
		}
	}
	header.sticky .main-menu>ul>li span,  header.header_in .main-menu>ul>li span{
		>a {
			color: #444;
		}
		&:hover>a {
			opacity: 1;
			color: $color-1;
		}
	}

	/* Submenu*/
	.main-menu ul ul {
		position: absolute;
		z-index: 1;
		visibility: hidden;
		left: 3px;
		top: 93%;
		margin: 0;
		display: block;
		padding: 0;
		background: #fff;
		min-width: 200px;
		@include box-shadow (0px 6px 12px 0px rgba(0, 0, 0, 0.175));
		transform: scale(0.4);
		transform-origin: 10% top;
		transition: 0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s transform cubic-bezier(0.1, 1.26, 0.83, 1);
		opacity: 0;
		@include transition-default (all, 0.2s, ease);
		@include border-radius(3px);
		&:before {
			bottom: 100%;
			left: 15%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-bottom-color: #fff;
			border-width: 7px;
			margin-left: -7px;
		}
		li {
			display: block;
			height: auto;
			padding: 0;
			a {
				@include fontSize(13px);
				color: $body-text-color;
				border-bottom: 1px solid #ededed;
				display: block;
				padding: 15px 10px;
				line-height: $line-height-none;
			}
		}
	}
	.main-menu ul li:hover>ul {
		padding: 0;
		visibility: visible;
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition-delay: 0.2s;
		transition-delay: 0.2s;
		-webkit-transition-duration: 0s, 0.2s, 0.2s;
		transition-duration: 0s, 0.2s, 0.2s
	}
	.main-menu ul ul li {
		&:first-child a {
			&:hover {
				@include border-radius(3px 3px 0 0);
			}
		}
		&:last-child a {
			border-bottom: none;
			&:hover {
				@include border-radius(0 0 3px 3px);
			}
		}
		&:hover>a {
			background-color: #f9f9f9;
			color: $color-1;
			padding-left: 15px;
		}
	}

}

/* Submenu 2nd level right */
.main-menu ul ul {
	&.second_level_right {
		left: auto;
		right: 3px;
		&:before {
			right: 15%;
			left: auto;
		}
	}
}

/* Submenu 3rd level */
.main-menu ul ul li span a {
	font-weight: normal!important;
	&:hover {
		background-color: #f9f9f9;
		color: $color-1;
		padding-left: 18px;
		opacity: 1;
	}
	&:after {
		font-family: 'ElegantIcons';
		content: "\35";
		float: right;
		@include fontSize(16px);
		margin-top: -2px;
	}
}
.main-menu ul ul ul {
	position: absolute;
	border-top: 0;
	z-index: 1;
	height: auto;
	left: 100%;
	top: 0;
	margin: 0;
	padding: 0;
	background: #fff;
	min-width: 190px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	&.third_level_left {
		right: 100%;
		left: auto;
	}
	li a {
		border-bottom: 1px solid #ededed!important;
	}
}

/* Arrows top 3rd level*/
.main-menu ul ul ul:before {
	border-width: 0;
	margin-left: 0;
}

/* All styles for screen size under 991px */
@media only screen and (max-width: 991px) {

	nav#menu {
		display: none !important;
	}
	.mm-menu {
		background: #fff;
	}
	.main-menu {
		top: 0;
		right: 0;
		float: none;
	}
	ul.mm-listview {
		line-height: 25px;
		li {
			a {
				color: #ccc;
				display: block;
			}
		}
	}

}

#menu.fake_menu {
	display: none!important;
	visibility: hidden!important;
}

/*-------- 1.1 Typography --------*/
/* rem reference
10px = 0.625rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
24px = 1.5rem
30px = 1.875rem
32px = 2rem
*/

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
    background: $body-color;
    font-size: $font-size-base;
    line-height: $line-height-base;
	font-family: $font-main;
    color: $body-text-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   color: $heading-color;
}
p {
	margin-bottom: 30px;
}
strong {
	font-weight: 600;
}
label {
	font-weight: 500;
	margin-bottom: 3px;
	color: $heading-color;
}
hr {
    margin: 30px 0 30px 0;
	border-color: $border-color-5;
}
ul,ol {
	list-style: none;
	margin: 0 0 25px 0;
	padding: 0;
}

.main_title_3 {
	position: relative;
	h2,h3 {
		@include fontSize(32px);
		margin:-5px 0 0 0;
		display: inline-block;
		@include mobile {@include fontSize(24px);}
	}
	p {
		@include fontSize(18px);
		font-weight: 300;
		line-height: 1.4;
		margin-bottom: 20px;
		@include mobile {@include fontSize(16px);}
	}
	a {
		display: inline-block;
		right: 0;
		bottom: 0;
		position: absolute;
		@include mobile {top:-8px;}
		&:after {
			font-family: 'ElegantIcons';
			content: "\24";
			@include fontSize(21px);
			@include transition-default;
			position: relative;
			top:5px;
			margin-left: 4px;
		}
	}
}

.main_title_2 {
	text-align: center;
	margin-bottom: 45px;
	position: relative;
	@include mobile {margin-bottom: 10px;}
	h2,h1 {
		margin:0;
		@include mobile {@include fontSize(32px);}
	}
	p {
		@include fontSize(24px);
		font-weight: 300;
		line-height: 1.4;
		@include mobile {@include fontSize(21px);}
	}
}

/*General links color*/
a {
	color: $color-1;
	text-decoration: none;
	@include transition-default;
	outline:none;
	&:hover, &:focus {color: #111;text-decoration: none; outline:none;}
}
/*-------- 1.2 Buttons --------*/
a.btn_1,
.btn_1 {
    border: none;
    color: #fff;
    background: $color-1;
    outline: none;
	cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: $line-height-none;
	@include transition-default;
	@include border-radius(3px);
	@include fontSize(14px);
	&:hover {
			background-color: $color-5;
			color: #222!important;
		}
	&.full-width{
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
		&.purchase{
			background-color: $color-1;
			&:hover {
				background-color: $color-3;
				color: #fff!important;
			}
		}
		&.wishlist{
			border-color: #555;
			color: #555;
			&:hover {
				color: #fff!important;
				background-color: #555;
				border-color: #555;
			}
		}
	}
	&.small {
		padding: 7px 10px;
		@include fontSize(13px);
	}
	&.medium {
		@include fontSize(16px);
		padding: 18px 30px;
	}
	&.rounded {
		@include border-radius(25px!important);
	}
}

a.btn_top,
.btn_top {
	border: none;
	color: #fff;
	background: $color-1;
	outline: none;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: #fff!important;
	font-weight: 600;
	@include transition-default;
	@include border-radius(3px);
	line-height: 1!important;
	padding: 10px 15px!important;
	position: relative;
	top:2px;
	@include tablet {display: none;}
	&:hover {
		background-color: $color-5;
		color: #222!important;
		opacity: 1!important;
	}
	&.company {
		background-color: $color-2;
		color: #fff!important;
		opacity: 1!important;
		&:hover {
			background-color: $color-5;
			color: #222!important;
			opacity: 1!important;
		}
	}
}

.closebt {
	@include transition-default;
	cursor:pointer;
	position: absolute;
	@include fontSize(24px);
	top:10px;
	right: 15px;
	color: #fff;
	opacity: 0.6;
	width: 30px;
	height: 30px;
	&:hover {@include rotate(90deg);opacity: 1;}
}

.btn_home_align {
	text-align: right;
	@include mobile {text-align: center; margin-bottom: 15px;}
}


/*-------- 1.3 Structure --------*/
/* Header */
header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 20px 30px;
	z-index: 99999999;
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	&.header {
		@include mobile {
			padding: 15px 15px 6px 15px;
		}
		.logo_sticky {
			display: none;
		}
		&.sticky {
			@include transition-default;
			border-bottom: 1px solid $border-color-2;
			background-color: #fff;
			padding: 10px 20px;
			@include tablet {
				padding: 15px 15px 6px 15px;
			}
			.logo_normal {
				display: none;
			}
			.logo_sticky {
				display: inline-block;
			}
		}
	}
	&.header_in {
		padding: 10px 0;
		background-color: #fff;
		position: relative;
		&.is_fixed {
			border-bottom: 1px solid $border-color-2;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
		}
		&.is_sticky {
			&.sticky {
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
			}
		}
		ul#top_menu li a {
			color: #444;
		}
		@include tablet {
			padding: 10px 0 5px 0;
			ul#top_menu {
				position: absolute;
				right: 15px;
				float: none;
			}
			#logo a {
				z-index: 9;
				position: relative;
			}
		}
	}
}

.sub_header_in {
	background-color: $color-1;
	padding: 20px 0;
	h1 {
		color: #fff;
		margin: 0;
		@include fontSize(26px);
		@include extra-small-mobile {@include fontSize(18px);}
	}
}

ul#top_menu {
	float: right;
	margin: 0;
	padding: 0;
	@include fontSize(13px);
	@include tablet {
			margin: -2px 0 0 10px;
		}
	li {
		float: left;
		margin: 0;
		line-height:1;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
			position: relative;
			top: 0;
		}
		@include tablet {
			margin: 2px 0 0 10px;
		}
		a {
			color: #fff;
			&:hover {
				color: #fff;
				opacity: 0.7;
			}
			&.login,
			&.wishlist_bt_top{
				display: block;
				width: 22px;
				height: 23px;
				position: relative;
				top: 8px;
				@include tablet {
					top: 2px;
				}
				@include transition-default (opacity, 0.5s, ease);
				&:before {
					font-family: 'Glyphter';
					@include fontSize(21px);
					text-indent: 0;
					position: absolute;
					left: 0;
					top: 0;
					font-weight: normal;
					line-height: $line-height-none;
					.sticky & {
						color: #444;
					}
				}
			}
			&.wishlist_bt_top {
				text-indent: -9999px;
				overflow: hidden;
				&:before {
						content:'\0043';
					}
			}
			&.login {
				text-indent: -9999px;
				overflow: hidden;
				&:before {
						content:'\0042';
					}
			}
            &.logged {
				display: block;
				width: 34px;
				height: 34px;
				position: relative;
				overflow: hidden;
				top: 1px;
                margin-left: 15px;
				@include border-radius(50%);
				img {
					width: 35px;
					height: auto;
					position: absolute;
					left: 50%;
					top: 50%;
					@include transform (translate(-50%, -50%));
				}
				@include tablet {
					top: -5px;
				}
				@include transition-default (opacity, 0.5s, ease);
			}
		}
	}
}

header.sticky .hamburger-inner, header.sticky .hamburger-inner::before, header.sticky .hamburger-inner::after, header.header_in .hamburger-inner, header.header_in .hamburger-inner::before, header.header_in .hamburger-inner::after  {
    background-color: #444;
}

#logo {
	float: left;
	@include tablet {
		float: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		img {
			width: auto;
			height: 28px;
			margin: 12px 0 0 0;
			.header_in & {
				margin: 0;
			}
		}
	}
}

/* Main */
main {
    background-color: $body-color;
	position: relative;
	z-index: 1;
}

/* Footer */
footer {
	padding: 60px 0 35px 0;
	border-top:1px solid $border-color-2;
	background-color: #fff;
	@include mobile {padding: 45px 0 35px 0;}
	h3 {
		margin: 0 0 15px 0;
		@include fontSize(18px);
		@include extra-small-mobile {
			@include fontSize(16px);
			margin: 0;
		}
	}
	a.collapse_bt_mobile {
		position: relative;
		display: block;
		cursor: default;
		@include extra-small-mobile {
				border-bottom: 1px solid $border-color-2;
				padding: 12px 0;
			}
		.circle-plus {
			display: none;
			@include extra-small-mobile {
				display: block;
				position: absolute;
				top: 8px;
				right: 0;
			}
		}
	}
	hr {
		@include extra-small-mobile {
				display: none;
			}
	}
	ul {
		@include extra-small-mobile {
				padding-top: 15px;
			}
		li {
			margin-bottom: 5px;
			a {
				@include transition-default;
				display: inline-block;
				position: relative;
				color: $body-text-color;
				&:hover {
					color: $color-1;
					opacity: 1;
				}
				i {
					margin-right: 10px;
					color: #fff;
				}
			}
		}
		&.links li a {
			&:hover {
				@include transform (translate(5px, 0));
				&:after {
					opacity: 1;
					color: $color-1;
				}
			}
			&:after {
				font-family: 'ElegantIcons';
				content: "\24";
				position: absolute;
				margin-left: 5px;
				top: 1px;
				opacity: 0;
				@include transition-default (all, 0.5s, ease);
			}
		}
		&.contacts li {
			padding-left: 30px;
			position: relative;
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}
			i {
				position: absolute;
				top: 2px;
				left: 0;
				color: $color-1;
				line-height: 1;
				@include fontSize(18px);
			}
		}
	}
	#newsletter {
		@include extra-small-mobile {
				padding-top: 15px;
			}
	}
}

/* Newsletter footer*/
#newsletter {
	.form-group {
		position: relative;
	}
	.loader {
		position: absolute;
		right: -20px;
		top: 11px;
		color: #444;
		@include fontSize(12px);
	}
	h6 {
		margin:15px 0 15px 0;
	}
	.form-group {
		position: relative;
	}
	input[type='email'] {
		border: 0;
		height: 40px;
		@include border-radius(0);
		padding-left: 15px;
		@include fontSize(14px);
		background-color: $body-color;
		&:focus{
			border: 0;
			box-shadow: none;
		}
	}
	input[type='submit'] {
		position: absolute;
		right: 0;
		color: #fff;
		@include fontSize(13px);
		font-weight: 600;
		top: 0;
		border: 0;
		padding: 0 12px;
		height: 40px;
		line-height: 42px;
		cursor: pointer;
		@include border-radius(0 3px 3px 0);
		background-color: $color-1;
		@include transition-default;
		outline: none;
		&:hover {
			background-color: $color-5;
			color: #222;
		}
	}
}

.follow_us {
	@include animation-delay (1.1s);
	h5 {
		@include fontSize(16px);
		margin-top: 35px;
	}
	ul {
		li {
			display: inline-block;
			margin-right: 5px;
			@include fontSize(20px);
			a i {
				color: $body-text-color;
				opacity: 0.6;
				&:hover {
					opacity: 1;
					color: $color-1;
				}
			}
		}
	}
}

ul#footer-selector{
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	@include extra-small-mobile {margin-top: 30px;}
	li {
		float: left;
		margin-right: 10px;
		&:last-child{
		@include extra-small-mobile {margin-top: 5px;}
	}
	}
}

/* Addtional links Footer */
ul#additional_links {
    margin: 0;
	padding: 8px 0 0 0;
    color: #555;
    @include fontSize(13px);
	float: right;
	@include tablet {float: none; margin-top: 10px;}
	li {
		display: inline-block;
		margin-right: 15px;
		&:first-child {margin-right: 20px;}
		&:last-child {margin-right: 0;}
		&:last-child:after {content: "";}
		span {
			color:$body-text-color;
			opacity: 0.8;
		}
		a {
			color:$body-text-color;
			opacity: 0.8;
			@include transition-default;
			&:hover {opacity: 1;}

		}
		&:after {content: "|";font-weight: 300;position: relative;left: 10px;}
	}
}

.styled-select {
	width: 100%;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	border: none;
	@include rgba(bg, #000, 0.05);
	@include border-radius(3px);
	padding-right: 35px;
	position: relative;
	&#lang-selector {
		color: #555;
		&:after {
			font-family: 'ElegantIcons';
			content: "\e0e2";
			color: #555;
			position: absolute;
			right: 10px;
			top:0;
		}
	}
	&#currency-selector {
		&:after {
			font-family: 'ElegantIcons';
			content: "\33";
			color: #555;
			position: absolute;
			right: 10px;
			top:0;
		}
	}
	select {
		background: transparent;
		width: 110%;
		padding-left: 10px;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		height: 30px;
		color: #555;
		@include fontSize(12px);
		margin: 0;
		font-weight: 500;
		-moz-appearance: window;
		-webkit-appearance: none;
		cursor: pointer;
		outline: none;
		&:focus {
			color: #555;
			outline: none;
			box-shadow: none;
		}
		&::-ms-expand {
			display: none;
		}
	}
}

/* Wow on scroll event */
 .wow {
	 visibility: hidden;
}

/*============================================================================================*/
/* 2.  CONTENT */
/*============================================================================================*/

/*-------- 2.1 Home/front page--------*/
/* Home single hero */
.hero_single {
	width: 100%;
	position: relative;
	text-align: center;
	margin: 0;
	color: #fff;
	.wrapper {
		@include rgba(bg, #000, 0.8);
	}
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		h3 {
			color: #fff;
			margin: 0;
		}
		p {
			font-weight: 300;
			margin: 10px 0 0 0;
			padding: 0 20%;
			@include fontSize(24px);
			line-height: 1.4;
			strong {
				font-weight: 600;
			}
			@include mobile {
				padding: 0;
				@include fontSize(18px);
			}
		}
	}
	&.version_1 {
		height: 620px;
		background: url(../img/home_section_1.jpg) top center no-repeat fixed;
		@include background-size(cover);
		@include mobile {background: url(../img/home_section_1.jpg) -300px top no-repeat fixed;@include background-size(cover);}
		.wrapper {
			@include rgba(bg, #000, 0.6);
			h3 {
				@include fontSize(52px);
				text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
				@include mobile {
					@include fontSize(26px);
					margin-top: 30px;
				}
			}
			p {
				font-weight: 400;
				margin: 0 0 10px 0;
				padding: 0;
				@include fontSize(20px);
				strong {
					font-weight: 500;
				}
				text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
				@include mobile {
					padding: 0;
					@include fontSize(16px);
				}
			}
		}
	}
	&.version_2 {
		height: 640px;
		background: $color-2 url(../img/pattern_2.svg) center repeat fixed;
		@include mobile {
					height: 550px;
				}
		.wrapper {
			@include background-gradient(rgba(0, 0, 0, 0.4), transparent, 'vertical');
			text-align: left;
			h3 {
				@include fontSize(40px);
				text-shadow: none;
				@include mobile {
					@include fontSize(26px);
					margin-top: 20px;
				}
			}
			p {
				font-weight: 400;
				margin: 5px 0 20px 0;
				padding: 0;
				@include fontSize(19px);
				strong {
					font-weight: 600;
				}
				text-shadow: none;
				@include mobile {
					padding: 0;
					@include fontSize(16px);
				}
			}
			.custom-search-input-2{
				background: none;
                @include box-shadow (none);
			}
			.form-group{
				margin-bottom: 10px;

			}
			input[type='submit'] {
				color: #222;
				margin-top:10px;
				background-color: $color-5;
				@include border-radius(3px);
				@include tablet {
					margin: 20px 0 0 0;
				}
				&:hover {
					background-color: $color-1;
					color: #fff;
				}
			}
		}
	}
	&.version_3 {
		height: 620px;
		background: #222 url(../img/home_section_2.jpg) center center no-repeat;
		@include background-size(cover);
		.wrapper {
			@include rgba(bg, #000, 0.6);
			h3 {
				@include fontSize(52px);
				text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
				@include mobile {
					@include fontSize(26px);
					margin-top: 30px;
				}
			}
			p {
				font-weight: 400;
				margin: 0 0 15px 0;
				padding: 0;
				@include fontSize(20px);
				strong {
					font-weight: 500;
				}
				text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
				@include mobile {
					padding: 0;
					@include fontSize(16px);
				}
			}
		}
	}
	&.version_company {
		height: 600px;
		background: #444 url(../img/company_landing.jpg) top center no-repeat fixed;
		@include background-size(cover);
		@include mobile {
			height: 550px;
			 background-size: auto 550px;
				}
		.wrapper {
			@include rgba(bg, #000, 0.6);
			text-align: left;
			h3 {
				@include fontSize(46px);
				text-shadow: none;
				@include mobile {
					@include fontSize(26px);
					margin-top: 20px;
				}
			}
			p {
				font-weight: 400;
				margin: 5px 0 20px 0;
				padding: 0;
				@include fontSize(21px);
				strong {
					font-weight: 600;
				}
				text-shadow: none;
				@include mobile {
					padding: 0;
					@include fontSize(14px);
				}
			}
		}
	}
	&.general {
		height: 500px;
		background: $color-2 url(../img/pattern_2.svg) top center repeat;
		@include mobile {
				height: 450px;
			}
		.wrapper {
			@include background-gradient(rgba(0, 0, 0, 0.6), transparent, 'vertical');
			text-align: center;
            @include mobile {
					padding-top: 20px;
				}
            i {
				@include fontSize(46px);
				text-shadow: none;
			}
			h1 {
                color: #fff;
				@include fontSize(46px);
				text-shadow: none;
				margin: 0;
				@include mobile {
					@include fontSize(26px);
				}
			}
			p {
				font-weight: 400;
				margin: 0;
				padding: 0;
				@include fontSize(21px);
				strong {
					font-weight: 600;
				}
				text-shadow: none;
				@include mobile {
					padding: 0;
					@include fontSize(14px);
				}
			}
		}
	}
	&.office {
		height: 500px;
		background: #222 url(../img/office_1.jpg) center bottom no-repeat fixed;
		@include background-size(cover);
		@include mobile {
				height: 450px;
			}
		.wrapper {
			@include background-gradient(rgba(0, 0, 0, 0.9), transparent, 'vertical');
			text-align: center;
            @include mobile {
					padding-top: 20px;
				}
            i {
				@include fontSize(46px);
				text-shadow: none;
			}
			h1 {
                color: #fff;
				@include fontSize(46px);
				text-shadow: none;
				margin: 0;
				@include mobile {
					@include fontSize(26px);
				}
			}
			p {
				font-weight: 400;
				margin: 0;
				padding: 0;
				@include fontSize(21px);
				strong {
					font-weight: 600;
				}
				text-shadow: none;
				@include mobile {
					padding: 0;
					@include fontSize(14px);
				}
			}
		}
	}
}

.custom-search-input-2 {
	background-color: #fff;
	@include border-radius(5px);
	margin-top: 10px;
	@include box-shadow (0px 0px 30px 0px rgba(0, 0, 0, 0.3));
	@include tablet {
		background: none;
		@include box-shadow (none);
	}
	input {
		border: 0;
		height: 50px;
		padding-left: 15px;
		border-right: 1px solid $border-color-3;
		font-weight: 500;
		@include tablet {
			border: none;
		}
		&:focus {
			box-shadow: none;
			border-right: 1px solid $border-color-3;
			@include tablet {
				border-right: none;
			}
		}
	}
	select {
		display: none;
	}
	.nice-select .current {
		font-weight: 500;
		color: #6f787f;
	}
	.form-group {
		margin: 0;
		@include tablet {
			margin-bottom: 5px;
		}
	}
	i {
		@include border-radius(3px);
		@include fontSize(18px);
		position: absolute;
		background-color: #fff;
		line-height: 50px;
		top: 1px;
		right: 1px;
		padding-right: 15px;
		display: block;
		width: 20px;
		box-sizing: content-box;
		height: 48px;
		z-index: 9;
		color: #999;
		@include tablet {
			padding-right: 10px;
		}
	}
	input[type='submit'] {
		@include transition-default;
		color: #fff;
		font-weight: 600;
		@include fontSize(14px);
		border: 0;
		padding: 0 25px;
		height: 50px;
		cursor: pointer;
		outline: none;
		width: 100%;
		@include border-radius(0 3px 3px 0);
		background-color: $color-1;
		margin-right: -1px;
		@include tablet {
			margin: 20px 0 0 0;
			@include border-radius(3px);
		}
		&:hover {
			background-color: $color-5;
			color: #222;
		}
	}
	&.inner {
		margin-top: 0;
		@include box-shadow (none);
		@include tablet {
			display: none;
		}
		input {
			border: 0;
			height: 40px;
			padding-left: 15px;
			border-right: 1px solid $border-color-3;
			font-weight: 500;
			@include tablet {
				border: none;
			}
			&:focus {
				box-shadow: none;
				border-right: 1px solid $border-color-3;
				@include tablet {
					border-right: none;
				}
			}
		}
		.nice-select {
			height: 40px;
			line-height: 38px;
			&:after {
				right: 15px;
		  }
		}
		i {
			height: 38px;
			line-height: 38px;
			padding-right: 10px;
		}
		input[type='submit'] {
			position: absolute;
			@include transition-default;
			right: -1px;
			color: #fff;
			font-weight: 600;
			@include fontSize(14px);
			top: 0;
			border: 0;
			height: 40px;
			cursor: pointer;
			outline: none;
			@include border-radius(0 3px 3px 0);
			text-indent: -999px;
			background: $color-5 url(../img/search.svg) no-repeat center center;
			&:hover {
				background-color: $color-1;
			}
			@include extra-small-mobile {
				text-indent: -999px;
				background: $color-1 url(../img/search.svg) no-repeat center center;
			}
		}
		@include tablet {
			margin: 0 0 20px 0;
			@include box-shadow (none);
		}
	}
}

a.grid_item {
	display: block;
	margin-bottom: 30px;
	@include border-radius(3px);
	overflow: hidden;
	height: 200px;
	@include tablet {
		height: 180px;
	}
	@include mobile {
		height: 150px;
	}
	@include extra-small-mobile {
		height: 180px;
	}
	.info {
		position: absolute;
		width: 100%;
		z-index: 9;
		display: block;
		padding: 25px 25px 10px 25px;
		color: #fff;
		left: 0;
		bottom: 0;
		@include background-gradient(transparent, #000, 'vertical');
		box-sizing: border-box;
		@include mobile {
			padding: 15px 15px 0 15px;
		}
		small {
			display: inline-block;
			margin-bottom: 5px;
			font-weight: 600;
			@include fontSize(11px);
			background-color: $color-1;
			line-height: $line-height-none;
			padding: 3px 5px 2px 5px;
			@include border-radius(2px);
		}
		em {
			position: absolute;
			right: 25px;
			bottom:17px;
			font-style: normal;
			font-weight: 500;
			@include fontSize(13px);
			@include mobile {right: 15px; bottom: 8px;}
		}
		h3 {
			color: #fff;
			@include fontSize(21px);
			@include mobile {@include fontSize(18px);}
		}
		p {
			color: #fff;
			margin-bottom: 0;
			@include fontSize(15px);
		}
	}
	figure {
		position: relative;
		overflow: hidden;
		@include border-radius(3px);
		width: 100%;
		height: 100%;
		@include mobile {
			height: 150px;
		}
		@include extra-small-mobile {
			height: 180px;
		}
		img {
			@include transition-default;
			position: absolute;
			left: 50%;
			top: 50%;
			@include transform (translate(-50%, -50%) scale(1));
			@include mobile {
				width: 100%
			}
		}
	}
	&:hover figure img {
		@include transform (translate(-50%, -50%) scale(1.1));
	}
}

a.box_cat_home {
	background-color: #fff;
	display: block;
	padding: 35px 15px 25px 15px;
	@include border-radius(3px);
	text-align: center;
	margin-bottom: 25px;
	position: relative;
	@include transition-default (all,0.3s);
	@include box-shadow (0 2px 4px rgba(3, 27, 78, .06));
	color: #999;
	h3 {
		@include fontSize(18px);
		font-weight: 500;
		color: $color-1;
		padding: 4px 0;
		margin: 5px 0 15px 0;
		@include border-radius(25px);
	}
	&:hover {
		@include box-shadow (0 10px 20px rgba(3, 27, 78, .1));
		i {
			opacity: 1;
		}
	}
	ul {
		margin: 0 -10px -25px -10px;
		padding: 10px;
		text-align: center;
		li {
			display: inline-block;
			&:first-child {
				float: left;
                @include extra-small-mobile {float:none; display: block;}
			}
			&:last-child {
				float: right;
                @include extra-small-mobile {float:none;}
			}
			strong {
				margin-right: 5px;
				font-weight: 600;
				color: #777;
			}
		}
	}
}

.list_home {
	ul {
		text-align: left;
		li a {
			background-color: #fff;
			padding: 10px;
			display: block;
			margin-bottom: 5px;
			@include border-radius(3px);
			position: relative;
			font-weight: 500;
			color: $body-text-color;
			strong {
				background-color: #f8f8f8;
				color: #999;
				@include fontSize(14px);
				line-height: $line-height-none;
				padding: 6px;
				display: inline-block;
				margin-right: 10px;
				@include border-radius(3px);
			}
			&:after {
				font-family: 'ElegantIcons';
				content: "\24";
				right: 15px;
				top: 15px;
				position: absolute;
				color: $color-5;
			}
			&:hover {
				background-color: $color-5;
				@include transform (scale(1.05));
				color: #fff;
				&:after {
					color: #fff;
				}
			}
		}
	}
}

/*Carousel home page*/
#reccomended {
	margin-top: 40px;
	@include mobile {margin-top: 0;}
	.item {
		margin: 10px;
		.review_listing {
			@include box-shadow (0px 0px 20px 0px rgba(3, 27, 78, 0.10));
		}
	}
}
#reccomended .owl-item {
	opacity: 0.5;
	transform: scale(0.85);
	@include backface-visibility (hidden);
	-webkit-transform: translateZ(0) scale(0.85, 0.85);
	transition: all 0.3s ease-in-out 0s;
	overflow: hidden;
}

#reccomended .owl-item.active.center {
	opacity: 1;
	@include backface-visibility (hidden);
	-webkit-transform: translateZ(0) scale(1, 1);
	transform: scale(1);
}

#reccomended .owl-item.active.center .item .title h4,
#reccomended .owl-item.active.center .item .views {
	opacity: 1;
}

.owl-theme .owl-dots {
	margin-top: 15px!important;
	outline: none;
	@include mobile {margin-top: 0!important; margin-bottom: 0;}
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: $color-1 !important;
	outline: none!important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 13px!important;
    height: 13px!important;
}

.call_section {
	background: url(../img/call_section_bg.svg) bottom right no-repeat;
	h3 {
		font-weight: 300;
		@include fontSize(36px);
	}
	p {
		@include fontSize(16px);
	}
}
.call_section_2 {
    .wrapper {
        padding: 60px 0;
		@include background-gradient(rgba(0, 0, 0, 0.6), transparent, 'vertical');
	}
	background: $color-2 url(../img/waves.svg) center no-repeat;
	@include background-size(cover);
	text-align: center;
	h3 {
		color: #fff;
		font-weight: 500;
		margin-bottom: 25px;
	}
	.btn_1 {
		background-color: #fff;
		color: $color-1!important;
	}
}

.call_section_3 {
    .wrapper {
        padding: 75px 0 50px 0;
		@include rgba(bg, #000, 0.6);
		@include mobile {@include rgba(bg, #000, 0); padding: 60px 0 35px 0;}
	}
	background: $color-2 url(../img/bg_call_section.jpg) center center no-repeat fixed;
	@include background-size(cover);
	@include mobile {background: $color-2;}
	h3 {
		font-weight: 300;
		@include fontSize(36px);
		color: #fff;
	}
	p {
		@include fontSize(16px);
		color: #fff;
	}
}

/*-------- 2.2 Listing --------*/
#results {
	padding: 20px 0;
	color: #fff;
	background: $color-2;
	position: relative;
	z-index: 999!important;
	@include mobile {
		padding: 12px 0;
	}
	&.is_stuck {
		z-index: 99;
		padding: 10px 0;
	}
	h1 {
		color: #fff;
		margin: 12px 0 0 0;
		padding: 0;
		line-height: 1;
		@include fontSize(16px);
		@include tablet {margin: 5px 0 0 0;}
		@include mobile {margin: 3px 0 0 0;}
	}
}

.search_mob {
	a {
		display: none;
		width: 22px;
		height: 24px;
		text-indent: -9999px;
		position: relative;
		@include tablet {
			display: block;
		}
		color: $color-2;
		&:hover {
			color: $color-1;
		}
		&:before {
			font-family: 'themify';
			content: "\e610";
			text-indent: 0;
			position: absolute;
			left: 0;
			top: 0;
			line-height: 1;
			font-weight: 600;
			@include fontSize(21px);
		}
	}
}

a.btn_search_mobile {
	background: url(../img/search.svg) no-repeat center center;
	width: 21px;
	height: 21px;
	float: right;
	display: none;
	@include tablet {
		display: block;
	}
}

.search_mob_wp {
	padding: 10px 0 10px 0;
	display: none;
	width: 100%;
	.nice-select {
		margin-bottom: 5px;
		border: none;
	}
	.form-control {
		margin-bottom: 10px;
	}
	input[type='submit'] {
		background-color: $color-5;
		color: #222;
		&:hover {
			background-color: $color-3;
			color: #fff;
		}
	}
}
.filters_listing {
	padding: 10px 0;
	background: #fff;
	border-bottom: 1px solid $border-color-2;
	z-index: 99!important;
	position: relative;
	&.is_stuck {}
	ul {
		margin: 0;
		li {
			margin-right: 10px;
			&:first-child {
				float: left;
			}
			&:nth-child(2) {
				float: right;
				margin-right: 0;
			}
		}
	}
}

.switch-field {
	overflow: hidden;
	margin-top: 5px;
	@include mobile {
		margin-top: 10px;
	}
	input {
		position: absolute!important;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		width: 1px;
		border: 0;
		overflow: hidden;
		&:checked+label {
			@include box-shadow (none);
			color: rgba(0,0,0,0.9);
		}
	}
	label {
		float: left;
		display: inline-block;
		color: rgba(0,0,0,.5);
		font-weight: 600;
		@include fontSize(14px);
		text-align: center;
		text-shadow: none;
		line-height: 1;
		padding: 0 10px;
		border-right: 1px solid rgba(0,0,0,0.08);
		@include transition-default (all,0.2s,ease-in-out);
		margin: 0;
		&:last-of-type {
			border-right: 0;
		}
		&:hover {
			cursor: pointer;
			color: $color-1;
		}
	}
}
a.btn_filt {
	line-height: 1;
	display: inline-block;
	font-weight: 600;
	@include fontSize(14px);
	color: rgba(0,0,0,.5);
	position: relative;
	@include mobile {
		text-indent: -999px;
		display: block;
		width: 28px;
		height: 32px;
		padding: 0;
		right: 0;
	}
	&:hover{
		color: $color-1;
	}
	&:before{
		font-family: 'ElegantIcons';
		content: "\67";
		display: inline-block;
		margin-right: 5px;
		@include fontSize(18px);
		position: relative;
		top:3px;
		left: 0;
		@include mobile {
			position: absolute;
			text-indent: 1px;
			right: 0;
			top:4px;
			@include fontSize(24px);
			font-weight: normal;
		}
	}
}
#filters {
	background-color: #fff;
	border-bottom: 1px solid $border-color-2;
	h6 {
		margin-bottom: 15px;
		@include fontSize(16px);
	}
	label {
		color: $body-text-color;
	}
	ul li small {
		font-weight: 600;
		float: right;
		position: relative;
		top: 4px;
	}
}
/* Checkbox style */
.container_check {
	display: block;
	position: relative;
	@include fontSize(14px);
	padding-left: 30px;
	line-height: 1.4;
	margin-bottom: 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		&:checked~.checkmark {
			background-color: $color-1;
			border: 1px solid transparent;
		}
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		border: 1px solid $border-color-3;
		@include border-radius(3px);
		@include transition-default;
		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 7px;
			top: 3px;
			width: 5px;
			height: 10px;
			border: solid white;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}

.container_check input:checked~.checkmark:after {
	display: block;
}

/* Radio buttons */
.container_radio {
	display: block;
	position: relative;
	@include fontSize(15px);
	padding-left: 30px;
	line-height: 1.3;
	margin-bottom: 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		&:checked~.checkmark:after {
			opacity: 1;
		}
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		border: 1px solid $border-color-4;
		border-radius: 50%;
		&:after {
			display: block;
			content: "";
			position: absolute;
			opacity: 0;
			@include transition-default;
			top: 3px;
			left: 3px;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: $color-1;
			@include transition-default;
		}
	}
}
.distance {
	margin-bottom: 15px;
	span {
		font-weight: 600;
		color:$color-1;
	}
}
.rangeslider__handle {
  border: 2px solid $color-1!important;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
.rangeslider__fill {
  background: $color-1!important;
}

.review_listing {
	background-color: #fff;
	@include border-radius(3px);
	padding: 25px;
	box-sizing: content-box;
	box-shadow: 0 2px 4px rgba(3,27,78,.06);
	margin-bottom: 30px;
	figure {
		width: 40px;
		height: 40px;
		overflow: hidden;
		@include border-radius(50%);
		display: inline-block;
		position: relative;
		float: left;
		margin-right: 15px;
		img {
			width: 40px;
			height: auto;
			position: absolute;
			left: 50%;
			top: 50%;
			@include transform (translate(-50%, -50%));
		}
	}
	small {
		display: block;
		font-weight: 500;
		margin-top: 3px;
		@include fontSize(13px);
	}
	h3 {
		@include fontSize(14px);
		color: #999;
		margin: 8px 0 3px 0;
		strong {
			color: #222;
			font-weight: 500;
		}
	}
	h4 {
		@include fontSize(18px);
		margin-bottom: 15px;
	}
	ul {
		margin: 0;
		text-align: center;
		color: #999;
		li {
			display: inline-block;
			&:first-child {
				float: left;
			}
			&:last-child {
				float: right;
			}
			strong {
				margin-right: 3px;
				font-weight: 600;
			}
		}
	}
}

.rating {
	color: #999;
	@include fontSize(12px);
	i {
		width: 20px;
		@include border-radius(3px);
		height: 20px;
		@include fontSize(12px);
		display: inline-block;
		background-color: $color-3;
		color: #fff;
		line-height: 20px;
		text-align: center;
		margin-right: 2px;
		&.empty{
			background-color: #ccc;
		}
	}
	em {
		display: inline-block;
		margin-left: 10px;
	}
}

#filters_col{
	background-color:#fff;
	padding:20px 20px 15px 20px;
	margin-bottom:25px;
	border: 1px solid $border-color-2;
    label{
        color:$heading-color;
        font-weight:normal;
    }
}

a#filters_col_bt {
	display:block;
	color:$heading-color;
	position:relative;
    @include fontSize(16px);
	font-weight: 600;
    &:before{
        font-family: "ElegantIcons";
        content: "\66";
		@include fontSize(26px);
        position:absolute;
        right:0;
        top:0;
        line-height:$line-height-none;
		font-weight: normal;
    }
}

.filter_type {
    h6 {
        border-top: 1px solid $border-color-2;
        margin: 15px 0;
        padding: 15px 0 0 0;
        @include fontSize(13px);
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 15px 0;
        li {
            margin-bottom: 5px;
			small {
                float: right;
				position: relative;
				top:4px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/*-------- 2.3 Detail page --------*/
.reviews_summary {
	margin-top: 58px;
	background-color: $color-2;
	border-bottom: 1px solid $border-color-2;
	@include tablet {margin-top: 45px;}
	@include mobile {text-align: center;}
	.wrapper {
		@include background-gradient(rgba(0, 0, 0, 0.4), transparent, 'vertical');
		padding: 60px 0 55px 0;
	}
	figure {
		width: 120px;
		height: 120px;
		overflow: hidden;
		display: block;
		position: relative;
		float: left;
		margin-right: 20px;
		background-color: #fff;
		@include border-radius(3px);
		margin-bottom: 0;
		@include mobile {float: none; margin: 0 auto 10px auto;}
		img {
			width: 120px;
			height: auto;
			position: absolute;
			left: 50%;
			top: 50%;
			@include transform (translate(-50%, -50%));
		}
	}
	small {
		@include fontSize(14px);
		font-weight: 500;
		color: #999;
		margin-top: 5px;
		display: inline-block;
	}
	h1 {
		font-weight: 500;
		color:#fff;
		margin-top: 5px;
		@include fontSize(36px);
		@include mobile {@include fontSize(32px);}
	}
	.rating{
		@include fontSize(14px);
		@include mobile {margin:0 0 15px 0; display: inline-block;}
		em {
			@include mobile {margin:10px 0 0 0; display: block; }
		}
		i{
			width: 30px;
			height: 30px;
			line-height: 30px;
			@include fontSize(16px);
		}
	}
}
.review_detail {
	@include tablet {margin-top: 30px;}
	@include tablet {margin-top: 15px;}
	strong{
		@include fontSize(12px);
		color: #999;
		position: relative;
		top:-3px;
	}
	.progress {
		margin-bottom: 11px;
		@include border-radius(3px);
		height: 15px;
		&.last{
		margin-bottom: 0;
	}
	}
	.progress-bar {
		background-color: $color-1;
	}
}
.review_card {
	background-color: #fff;
	@include border-radius(3px);
	padding: 25px 25px 0 25px;
	margin-bottom: 30px;
    @include box-shadow (0 2px 4px rgba(3,27,78,.06));
	.user_info {
        @include mobile {margin-bottom: 10px;}
		figure {
			width: 50px;
			height: 50px;
			overflow: hidden;
			@include border-radius(50%);
			display: inline-block;
			position: relative;
			margin-bottom: 10px;
            @include mobile {float: left;}
			img {
				width: 50px;
				height: auto;
				position: absolute;
				left: 50%;
				top: 50%;
				@include transform (translate(-50%, -50%));
			}
		}
		h5 {
			@include fontSize(13px);
            @include mobile {float: left; margin: 18px 0 0 15px;}
		}
	}
	.review_content {
		h4 {
			@include fontSize(18px);
		}
		.rating {
			float: left;
			@include extra-small-mobile {float: none; display: block;}
			em {
				@include extra-small-mobile {float: none;display: inline-block;margin-left: 10px;}
			}
		}
		em {
			color:#999;
			float: right;
			@include extra-small-mobile {float: none; display: block; margin-top: 10px; margin-left: 0;}
		}
		ul {
			margin: 0 0 25px 0;
			padding: 0;
			li {
				display: inline-block;
				@include fontSize(13px);
				margin-right: 0;
				span {
						@include extra-small-mobile {display: none;}
					}
				a {
					background-color: #ededed;
					padding: 5px 10px;
					@include border-radius(3px);
					color: $body-text-color;
					&:hover {
						background-color: #ccc;
					}
					i {
						margin-right: 5px;
						@include extra-small-mobile {margin-right: 0;}
					}
				}
				&:last-child {
					float: right;
					margin-right: 0;
					a {
						padding: 5px 7px;
						text-align: center;
						i {
							margin: 0;
							text-align: center;
						}
					}
				}
			}
		}
	}
	.reply {
		padding-top: 30px;
		.user_info {
		@include mobile {display: none;}
		figure {
			width: 50px;
			height: 50px;
			overflow: hidden;
			@include border-radius(50%);
			display: inline-block;
			position: relative;
			margin-bottom: 10px;
			img {
				width: 50px;
				height: auto;
				position: absolute;
				left: 50%;
				top: 50%;
				@include transform (translate(-50%, -50%));
			}
		}
		h5 {
			@include fontSize(14px);
		}
	}
	.review_content {
		border-left: 5px solid #ededed;
		padding-left: 20px;
		strong {
			@include extra-small-mobile {display: block;}
		}
		em {
			color:#999;
			font-style: italic;
			float: right;
			@include extra-small-mobile {float: none; display: block; margin-top: 10px;}
		}

	}

	}
}
.box_general {
	&.company_info {
		padding-bottom: 1px;
		h3,h4 {
			font-weight: 500;
		}
		p {
			margin-bottom: 15px;
		}
		.follow_company a{
			@include fontSize(21px);
			color:#999;
			display: inline-block;
			margin-right: 5px;
			&:hover {
				color:$color-1;
			}
		}
	}
}
/*-------- 2.4 Write a review page --------*/
.box_general {
	&.write_review {
		h1{
			font-weight: 500;
			@include fontSize(32px);
		}
	}
}

.rating {
    display: inline-block;
	position:relative;
}

.rating-input {
	display: none;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
	cursor:pointer;
    float: right;
    display: block;
	margin-right: 3px;
    width: 37px;
    height: 37px;
    background: url(../img/stars.svg) 0 -38px;
}
.fileupload {
	position: relative;
	width: 320px;
}
input[type=file] {
	background-color: #fff;
	border: 1px solid $border-color-2;
	padding: 5px;
	height: auto;
	color:#999;
	border-radius: 3px;
}

input[type=file]::-webkit-file-upload-button, input[type=file].invalid::-webkit-file-upload-button, input[type=file].valid::-webkit-file-upload-button {
    color: #fff;
	font-size: 13px;
	border: 0;
    border-radius: 3px;
	padding: 8px 10px 8px 38px;
	background: $color-1 url(../img/camera.svg) 8px center no-repeat;
	outline: none;
}
.latest_review {
	>h4 {
		font-weight: 500;
		@include fontSize(21px);
		margin-bottom: 20px;
	}
	.review_listing {
		@include box-shadow (none);
	}
}
#confirm {
	text-align: center;
	padding: 60px 15px;
}
@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }
    100% {
        stroke-dashoffset: 0
    }
}
@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }
    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }
    100% {
        stroke-dashoffset: 480px
    }
}

@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }
    100% {
        stroke-dashoffset: 480px
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }
    100% {
        stroke-dashoffset: 480px
    }
}
.inlinesvg .svg svg {
    display: inline;
}
.icon--order-success svg path {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards;
}
.icon--order-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards;
}
a.boxed_list {
	text-align: center;
	padding: 30px;
	border: 1px solid $border-color-2;
	display: block;
	@include transition-default;
	margin-bottom: 25px;
	i {
		@include fontSize(60px);
		margin-bottom: 15px;
	}
	h4 {
		@include fontSize(18px);
		color: $heading-color;
	}
	p {
		color: #777;
		margin-bottom: 0;
	}
	&:hover i{
			color:$color-5;
		}
}

/*-------- 2.5 Login/register --------*/
#login_bg, #register_bg {
	background:#ccc url(../img/access_bg.jpg) center center no-repeat fixed;
	@include background-size(cover);
	min-height: 100vh;
	width: 100%;
}

#login, #register {
	figure {
		text-align: center;
		border-bottom: 1px solid $border-color-2;
		margin: -45px -60px 0 -60px;
		padding: 20px 60px 30px 60px;
		@include mobile {margin: -30px -30px 20px -30px; padding: 15px 60px 20px 60px;}
	}
	aside {
        @include box-shadow (3px 0 30px rgba(0, 0, 0, 0.20));
		width: 430px;
		padding: 45px;
		position: absolute;
		left: 0;
		top: 0;
		overflow-y: auto;
		background-color: #fff;
		min-height: 100vh;
		@include mobile {width: 100%; padding: 30px;@include box-shadow (none);}
		form {
			margin-bottom: 30px;
			display: block;
			.form-group {
			input {
				  padding-left: 40px;
				}
			  i {
				  @include fontSize(21px);
				  position: absolute;
				  left: 12px;
				  top: 10px;
				  color: #ccc;
				  width: 25px;
				  height: 25px;
				  display: block;
				  font-weight: 400!important;
				}
			}
		}
		.copy {
			text-align: center;
			position: absolute;
			height: 30px;
			left: 0;
			bottom: 30px;
			width: 100%;
			color: #999;
			font-weight: 500;
		}
	}
}

.access_social {
	margin-top: 45px;
	@include mobile {margin-top: 30px;}
}
.divider {
	text-align: center;
	height: 1px;
	margin: 30px 0 15px 0;
	background-color: $border-color-2;
	span {
		position: relative;
		top:-20px;
		background-color: #fff;
		display: inline-block;
		padding: 10px;
		font-style: italic;
}
}
a.social_bt {
	@include border-radius(3px);
	text-align: center;
	color: #fff;
	min-width: 200px;
	margin-bottom: 5px;
	display: block;
	padding: 12px;
	line-height: $line-height-none;
	position: relative;
	@include transition-default;
	cursor: pointer;
	&:hover {
		-webkit-filter: brightness(115%);
		filter: brightness(115%);
	}
	&.facebook,
	&.google,
	&.linkedin {
		&:before {
			font-family: 'ElegantIcons';
			position: absolute;
			left: 12px;
			top: 10px;
			@include fontSize(16px);
			color: #fff;
		}
	}
	&.facebook {
		background-color: #3B5998;
		&:before {
			content: "\e093";
		}
	}
	&.google {
		background-color: #DC4E41;
		&:before {
			content: "\e096";
			top: 12px;
		}
	}
	&.linkedin {
		background-color: #0077B5;
		&:before {
			content: "\e09d";
		}
	}
}

/*Password strength */
#pass-info {
	width: 100%;
	margin-bottom: 15px;
	color: #555;
	text-align: center;
	@include fontSize(12px);
	padding: 5px 3px 3px 3px;
	@include border-radius(3px);
	&.weakpass {
		border: 1px solid #FF9191;
		background: #FFC7C7;
		color: #94546E;
	}
	&.stillweakpass {
		border: 1px solid #FBB;
		background: #FDD;
		color: #945870;
	}
	&.goodpass {
		border: 1px solid #C4EEC8;
		background: #E4FFE4;
		color: #51926E;
	}
	&.strongpass {
		border: 1px solid #6ED66E;
		background: #79F079;
		color: #348F34;
	}
	&.vrystrongpass {
		border: 1px solid #379137;
		background: #48B448;
		color: #CDFFCD;
	}
}
/*-------- 2.6 Company landing --------*/
.box_feat {
	position: relative;
	padding-left: 90px;
	h3 {
		@include fontSize(24px);
		strong {
			@include fontSize(32px);
		}
		em {
			display: block;
			font-style: normal;
			font-weight: 400;
			@include fontSize(21px);
		}
	}
	p {
		@include fontSize(16px);
	}
	i {
		position: absolute;
		top:0;
		left: 0;
		@include fontSize(60px);
		color: $color-1;
	}
}

.feat_blocks {
	height: 450px;
	@include tablet {height: auto;}
	.block_1 {
		padding: 60px;
		height: 450px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		@include tablet {display: none;}
	}
	.block_2 {
		padding: 60px;
		background-color: $color-2;
		height: 450px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #fff;
		@include tablet {height: auto;}
		@include mobile {padding: 60px 15px;}
		h3 {
			color: #fff;
		}
		p {
			@include fontSize(16px);
		}
		a.btn_1,
		.btn_1 {
			border: none;
			color: #fff;
			width: 180px;
			background: $color-1;
			outline: none;
			cursor: pointer;
			display: inline-block;
			text-decoration: none;
			padding: 15px 30px;
			color: #fff;
			font-weight: 600;
			text-align: center;
			line-height: $line-height-none;
			@include transition-default;
			@include border-radius(3px);
			@include fontSize(14px);
			&:hover {
				background-color: $color-5;
				color: #222!important;
			}
		}
	}
}

.box_feat_2 {
	padding: 30px 30px 1px 30px;
	margin-bottom: 30px;
	@include border-radius(3px);
	border: 1px solid $border-color-2;
	box-shadow: 0 2px 4px rgba(3,27,78,.06);
	h3 {
		font-weight: 500;
		@include fontSize(21px);
		position: relative;
		padding-left: 40px;
		i {
			font-weight: bold;
			margin-right: 8px;
			color: $color-1;
			@include fontSize(28px);
			position: absolute;
			left: 0;
			top:-2px;
		}
	}
}

/*-------- 2.7 Pricing page --------*/
.margin_tabs {
	margin-top:-97px;
	@include tablet {margin-top:-70px;}
	@include mobile {margin-top:-50px;}
}
.tabs {
	position: relative;
	width: 100%;
	overflow: visible;
	padding-bottom: 35px;
	nav {
		text-align: center;
		overflow: hidden;
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			display: inline-block;
			width: 100%;
            text-align: center;
			li {
				margin: 0 -4px 0 0;
				display: block;
				display: inline-block;
				background-color: #ededed;
				width: 33%;
				text-align: left;
				line-height: 1.3;
				@include tablet {text-align: center;}
				a {
					padding: 25px 35px 25px 90px;
					color: #555;
					display: block;
					@include fontSize(21px);
					white-space: nowrap;
					position: relative;
					font-weight: 500;
					@include tablet {padding: 15px; @include fontSize(16px);}
					i {
						position: absolute;
						left: 35px;
						top:25px;
						@include fontSize(38px);
						@include tablet {display: none;}
					}
					em {
						display: block;
						@include fontSize(16px);
						font-style: normal;
						font-weight: normal;
						@include mobile {display: none;}
					}
				}
				&:first-child {
					@include border-radius(3px 0 0 0);
				    border-right: 2px solid #ddd;
				}
				&:last-child {
					@include border-radius(0 3px 0 0);
					border-left: 2px solid #ddd;
				}
				&.tab-current {
					background-color: #fff;
					z-index: 100;
					&:after {
						right: auto;
						left: 100%;
						width: 4000px;
					}
					a {
						color: #222;
					}
					a i {
						color: $color-1;
					}
				}
			}
		}
	}
}

/* Content */
.content {
	section {
		padding: 60px 0 0 0;
		display: none;
		max-width: 1230px;
		margin: 0 auto;
		&:before,
		&:after {
			content: '';
			display: table;
		}
		&.content-current {
	display: block;
}
	}
}

.content section:after {
	clear: both;
}

.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #e2e2e2;
}


.box_pricing {
	padding: 30px;
	margin-bottom: 30px;
	border:1px solid $border-color-3;
	@include border-radius(3px);
	position: relative;
	@include mobile {padding: 15px;}
	hr {
		margin: 25px -30px;
		border-color:$border-color-3;
		@include mobile {margin: 25px -15px;}
	}
	ul {
		list-style: disc;
		padding:0 0 0 20px;
		margin: 0 0 30px 0;
	}
	a {
		background-color: $color-1;
		display: block;
		color: #fff;
		padding: 10px;
		font-weight: 500;
		@include border-radius(3px);
		text-align: center;
		&:hover{
			background-color:$color-5;
			color:$color-2;
		}
	}
	.price {
		text-align: center;
		font-weight: 500;
		@include fontSize(36px);
		margin-bottom: 20px;
		color: $color-1;
		sup {
			@include fontSize(16px);
		}
		em {
			@include fontSize(16px);
			color: $body-text-color;
			font-weight: 400;
		}
	}
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
    span {
        font-size: 10px;
        font-weight: bold;
        color: #222;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        position: absolute;
        top: 19px;
        right: -21px;
        &.top_selling {
            background: #00dfaa;
            &::before {
                content: "";
                position: absolute;
                left: 0px;
                top: 100%;
                z-index: -1;
                border-left: 3px solid #008a69;
                border-right: 3px solid transparent;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #008a69;
            }
            &::after {
                content: "";
                position: absolute;
                right: 0px;
                top: 100%;
                z-index: -1;
                border-left: 3px solid transparent;
                border-right: 3px solid #008a69;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #008a69;
            }
        }
    }
}

/*-------- 2.8 Faq/help --------*/
#custom-search-input {
	padding: 0;
	width: 600px;
	margin: 20px auto 0;
	position: relative;
	@include tablet {
		width: auto;
	}
	.search-query {
		width: 100%;
		height: 50px;
		padding-left: 20px;
		border: 0;
		@include border-radius(3px);
		@include fontSize(16px);
		color: #333;
		&:focus {
			outline: none;
		}
		@include extra-small-mobile {
			padding-left: 15px;
		}
	}
	input[type='submit'] {
		position: absolute;
		@include transition-default;
		right: -1px;
		color: #fff;
		font-weight: 600;
		@include fontSize(14px);
		top: 0;
		border: 0;
		padding: 0 25px;
		height: 50px;
		cursor: pointer;
		outline: none;
		@include border-radius(0 3px 3px 0);
		background-color: $color-1;
		&:hover {
			background-color: $color-5;
			color: #222;
		}
		@include extra-small-mobile {
			text-indent: -999px;
			background: $color-1 url(../img/search.svg) no-repeat center center;
		}
	}
}
.box_style_cat {
	background: #fff;
	margin-bottom: 25px;
	@include border-radius(3px);
	@include box-shadow (0 2px 4px rgba(3, 27, 78, .06));
	@include tablet {display: none;}
}

ul#cat_nav {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		i {
			@include fontSize(16px);
			margin:2px 10px 0 0;
			float: left;
		}
		border-bottom: 1px solid $border-color-2;
		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}
		a {
			position: relative;
			color: $body-text-color;
			display: block;
			padding: 15px 10px;
			&:after {
				font-family: "fontello";
				content: "\e89b";
				position: absolute;
				right: 15px;
				top: 15px;
			}
			span {
				@include fontSize(11px);
				color: #999;
			}
			&:hover,
			&#active,
			&.active {
				color: $color-1;
			}
		}
	}
}

.hero_in form{
	@include animation-delay (1.3s);
}
a.box_topic {
	text-align: center;
	background: #fff;
	padding: 30px 30px 5px 30px;
	@include mobile {padding: 20px 20px 0 20px;}
	display: block;
	@include transition-default;
	@include box-shadow (0 2px 4px rgba(3, 27, 78, .06));
	color: $body-text-color;
	margin-bottom: 30px;
	overflow: hidden;
	@include border-radius(3px);
	&:hover {
        @include box-shadow (0 10px 20px rgba(3, 27, 78, .1));
	}
	i {
		@include fontSize(60px);
		color: $color-3;
		margin-bottom: 10px;
		@include border-radius(50px);
		@include rgba(bg, $color-3, 0.05);
		width: 100px;
		height: 100px;
		line-height: 100px;
		margin-bottom: 15px;
	}
	h3 {
		@include fontSize(18px);
	}
}

.list_articles {
	ul {
		list-style: none;
		margin: 0;
		padding:0;
		li {
			float: left;
			width: 45%;
			margin-right: 45px;
			padding: 15px 0;
			border-bottom: 1px solid $border-color-2;
			a {
				color: $body-text-color;
				display: block;
				&:hover {
					color: $color-1;
					@include transform (translateX(5px));
				}
			}
			i {
				margin-right: 10px;
				@include fontSize(16px);
				position: relative;
				top: 2px;
			}
			@include tablet {
				float: none;
				width: 100%;
				margin-right: 0;
			}
		}
	}
}

ul.list_3 {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin-bottom: 0;
		position: relative;
		padding-left: 20px;
		strong {
			font-weight: 500;
		}
		&:before {
			font-family: "fontello";
			content: "\ea3e";
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

/*-------- 2.9 Contacts --------*/
#contactform, #support {
	.form-group {
		margin-bottom: 30px;
		@include mobile {margin-bottom: 15px;}
	}
}
.box_faq {
	position: relative;
	padding-left: 50px;
	h4 {
		@include fontSize(18px);
	}
	i {
		@include fontSize(36px);
		position: absolute;
		left: 0;
		top: 0;
		color: #999;
	}
}
a.btn_support {
    @include border-radius(3px);
    border: 1px solid $color-1;
    position: relative;
    padding: 15px 15px 15px 55px;
    display: block;
    margin-bottom: 30px;
    @include fontSize(16px);
    &:hover {
        background-color: $color-1;
        color: #fff;
    }
    &:before {
        font-family: "Pe-icon-7-stroke";
        @include fontSize(36px);
        line-height: 1;
        position: absolute;
        left: 15px;
        top: 10px;
        content: "\e649";
    }
}

.error_message {
	font-weight: 500;
	color: #d41f00;
	padding-bottom: 5px;
}

.loader {
		margin-left: 5px;
		position: absolute;
		top: 11px;
		color: #444;
		@include fontSize(12px);
	}

/*-------- 2.10 Company categories --------*/
.all_categories {
	ul {
		list-style: none;
		margin: 30px 0 0 0;
		padding: 0;
		@include tablet {

				margin: 0;
			}
		li {
			float: left;
			width: 45%;
			margin: 0 15px;
			a {
				background-color: #f8f8f8;
				padding: 10px;
				display: block;
				margin-bottom: 5px;
				@include border-radius(3px);
				position: relative;
				font-weight: 500;
				color: $body-text-color;
				strong {
					min-width: 35px;
					background-color: #fff;
					color: #999;
					@include fontSize(14px);
					line-height: $line-height-none;
					padding: 6px;
					display: inline-block;
					margin-right: 10px;
					@include border-radius(3px);
				}
				&:after {
					font-family: 'ElegantIcons';
					content: "\24";
					right: 15px;
					top: 15px;
					position: absolute;
					color: $color-1;
				}
				&:hover {
					background-color: $color-1;
					color: #fff;
					&:after {
						color: #fff;
					}
				}
			}
			@include tablet {
				float: none;
				width: 100%;
				margin: 0;
			}
		}
	}
}
.company_listing {
	background-color: #fff;
	@include border-radius(3px);
	padding: 25px;
	box-shadow: 0 2px 4px rgba(3,27,78,.06);
	margin-bottom: 30px;
	min-height: 160px;
	.company_info {
		position: relative;
		padding-left: 190px;
		@include mobile {padding-left: 0; text-align: center;}
		h3 {
			@include fontSize(21px);
			font-weight: 500;
		}
		p {
			margin-bottom: 0;
			@include mobile {margin-bottom: 25px;}
		}
		figure {
			width: 170px;
			height: 110px;
			overflow: hidden;
			display: block;
			position: absolute;
			left: 0;
			top:0;
			margin-right: 20px;
			border: 1px solid $border-color-2;
			@include mobile {position: relative; margin: 0 auto 15px auto;}
			img {
				width: 98px;
				height: auto;
				position: absolute;
				left: 50%;
				top: 50%;
				@include transform (translate(-50%, -50%));
			}
		}
	}
	.rating {
		margin: auto;
		display: block;
		margin-bottom: 25px;
		strong {
			display: block;
			margin-bottom: 5px;
		}
	}
}
/*-------- 2.11 User Dashboard --------*/
/* Dropdown user logged */
.dropdown-user .dropdown-menu {
	border: none;
	@include border-radius(0);
	min-width: 0;
	padding: 0;
	width: 150px;
	top: 105%;
	margin-left: -95px;
	font-weight: normal;
	text-shadow: none;
	text-transform: none !important;
	border: none;
	@include box-shadow (0px 6px 12px 0px rgba(0, 0, 0, 0.175));
	@include border-radius(3px);
	padding: 0;
	&:before {
		bottom: 100%;
		right: 10%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-bottom-color: #fff;
		border-width: 7px;
		margin-left: -7px;
	}
	ul {
		padding: 0;
		margin: 0!important;
		list-style: none;
		li {
			border-bottom: 1px solid $border-color-2;
			margin: 0;
			width: 100%;
			margin-bottom: 15px;
			display: inline-block;
			@include fontSize(13px);
			@include tablet {margin: 0!important;}
			a {
				color: #444!important;
				padding: 15px 8px 15px 8px;
				display: block;
				&:hover{
					color: $color-1!important;
					opacity: 1!important;
					padding-left: 15px;
				}
			}
			&:last-child{
				border-bottom: none;
				margin-bottom: 0;
			}
			&:first-child {
				@include tablet {display: block!important;}
			}
		}
	}
}
.user_summary {
	margin-top: 58px;
	background-color: $color-2;
    border-bottom: 1px solid $border-color-2;
	@include tablet {margin-top: 45px;}
	@include mobile {text-align: center;}
	.wrapper {
		@include background-gradient(rgba(0, 0, 0, 0.4), transparent, 'vertical');
		padding: 60px 0 55px 0;
	}
	figure {
        @include border-radius(50%);
		width: 120px;
		height: 120px;
		overflow: hidden;
		display: block;
		position: relative;
		float: left;
		margin-right: 20px;
		margin-bottom: 0;
		@include mobile {float: none; margin: 0 auto 10px auto;}
		img {
			width: 120px;
			height: auto;
			position: absolute;
			left: 50%;
			top: 50%;
			@include transform (translate(-50%, -50%));
		}
	}
	h1 {
		font-weight: 500;
		@include fontSize(32px);
        margin: 30px 0 0 0;
		color: #fff;
        @include tablet {@include fontSize(28px); margin: 15px 0 0 0;}
	}
    span {
		color: #999;
	}
    ul {
		margin: 10px 0 0 0;
        padding: 0;
        float: right;
        @include mobile {float: none; text-align: center;}
        li {
            display: inline-block;
            margin-left: 25px;
            text-align: center;
            &:first-child {
                margin-left: 0;
            }
			a {
               color: #fff;
            }
            strong {
                margin-bottom: 8px;
                width: 80px;
                height: 80px;
                line-height: 80px;
                text-align: center;
                @include border-radius(50%);
                background-color: $color-1;
				color: #fff;
                white-space: nowrap;
                @include fontSize(32px);
                display: block;
                font-weight: 500;
            }
        }
	}
}

.review_card .review_content ul li a.btn_delete {
    background-color: #e04040!important;
    color: #fff!important;
    &:hover {
        background-color: #b41a1a!important;
    }
}
.settings_panel{
    background-color: #fff;
    @include border-radius(3px);
	padding: 25px 25px 1px 25px;
	margin-bottom: 30px;
    @include box-shadow (0 2px 4px rgba(3,27,78,.06));
    h3 {
        @include fontSize(24px);
        font-weight: 500;
        margin: 0;
        padding: 0;
    }
    hr {
       margin: 20px -25px;
        border-color: rgba(3,27,78,.08);
    }
}
.general_info {
	padding: 25px 25px 1px 25px;
	margin-bottom: 30px;
	@include border-radius(3px);
	border: 1px solid $border-color-2;
	box-shadow: 0 2px 4px rgba(3,27,78,.06);
	hr {
		margin-left: -25px;
		margin-right: -25px;
		border-color:  rgba(3,27,78,.06);
	}
	h3 {
		font-weight: 500;
		@include fontSize(21px);
		position: relative;
		padding-right: 40px;
		i {
			font-weight: bold;
			color: $color-1;
			@include fontSize(28px);
			position: absolute;
			right: 0;
			top:-2px;
		}
	}
}
/*-------- 2.12 About --------*/
.values {
	background: $color-2 url(../img/pattern_2.svg) center repeat fixed;
	.main_title_2 h2, .main_title_2 p {
		color: #fff!important;
	}
	.wrapper {
		padding: 80px 0;
		@include background-gradient(rgba(0, 0, 0, 0.5), transparent, 'vertical');
		@include tablet {padding: 60px 0;}
	}
	.nav {
		@include fontSize(16px);
		font-weight: 500;
		@include tablet {margin-bottom: 30px;}
		a.nav-link {
			border-left: 2px solid rgba(255,255,255,.4);
			color: rgba(255,255,255,.4);
			padding: .9rem 1rem;
			&.active{
				color: rgba(255,255,255,1);
				border-left: 2px solid rgba(255,255,255,1);
			}
			&:hover{
				color: rgba(255,255,255,1);
			}
		}
	}
	.tab-content {
		color: #fff;
		p {
			margin-bottom: 0;
		}
	}
}
#carousel {
	margin-top: 40px;
	@include mobile {
		margin-bottom: 30px;
	}
	.item {
		.title {
			position: absolute;
			bottom: 0;
			left: 0;
			text-align: center;
			width: 100%;
			z-index: 9;
			h4 {
				@include rgba(bg,$color-2,1);
				display: inline-block;
				@include border-radius(3px 3px 0 0);
				color: #fff;
				padding: 10px 15px;
				margin: 0;
				@include fontSize(16px);
				opacity: 0;
				em {
					display: block;
					@include fontSize(13px);
					font-weight: 300;
					margin-top: 3px;
				}
			}
		}
		a {
			position: relative;
			display: block;
		}
	}
}

#carousel .owl-item {
	opacity: 0.5;
	transform: scale(0.85);
	@include backface-visibility (hidden);
	-webkit-transform: translateZ(0) scale(0.85, 0.85);
	transition: all 0.3s ease-in-out 0s;
	overflow: hidden;
}

#carousel .owl-item.active.center {
	opacity: 1;
	@include backface-visibility (hidden);
	-webkit-transform: translateZ(0) scale(1, 1);
	transform: scale(1);
}

#carousel .owl-item.active.center .item .title h4,
#carousel .owl-item.active.center .item .views {
	opacity: 1;
}
/*============================================================================================*/
/* 3.  COMMON */
/*============================================================================================*/

/*-------- 3.1 Misc --------*/
.rotate-x {
	animation-duration: .5s;
	animation-name: rotate-x;
}

@keyframes rotate-x {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}
.tooltip {
    line-height: 1.3;
    @include fontSize(12px);
}
.box_general {
    background-color: #fff;
	padding: 25px;
	margin-bottom: 30px;
	@include border-radius(3px);
	box-shadow: 0 2px 4px rgba(3,27,78,.06);
}
.opened {
  opacity: 1;
  .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
  }
  .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
  }
}

.circle-plus {
    height: 14px;
    width: 14px;
	display: block;
	position: relative;
	float: right;
	margin-top: 5px;
}

.circle-plus .horizontal {
    position: absolute;
    background-color: #999;
    width: 14px;
    height: 2px;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: 0;
}
.circle-plus .vertical {
    position: absolute;
    background-color: #999;
    width: 2px;
    height: 14px;
    left: 50%;
    margin-left: -2px;
    top: 50%;
    margin-top: -6px;
}

.form-control {
	height: calc(2.55rem + 2px);
	@include fontSize(14px);
	@include border-radius(3px);
	border: 1px solid $border-color-3;
	&:focus {
        box-shadow: none;
    }
}
.form-group {
	position: relative;
    &.required {
            &:after {
            width: 5px;
            height: 5px;
            content: '*';
            display: inline-block;
            color: $color-1;
            position: absolute;
            top: 3px;
            right: 10px;
            }
		}
}
.bg_color_1 {
	background-color: #fff;
}

/* Jquery select */
// Default variables
$font_size: 14px !default;
$font_size_small: 12px !default;

$input_border_radius: 3px !default;
$input_height: 50px !default;
$input_height_small: 36px !default;
$dropdown_padding: 15px !default;

$gray_dark: #444 !default;
$gray: #999 !default;
$gray_light: #999 !default;
$gray_lighter: #f6f6f6 !default;
$primary_light: $gray !default;
$arrow_color: $gray_light !default;

// Style the dropdown
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: $input_border_radius;
  border: none;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: $font_size;
  font-weight: normal;
  height: $input_height;
  line-height: $input_height - 2;
  outline: none;
  padding-left: $dropdown_padding;
  padding-right: $dropdown_padding + 12;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;
  color: $body-text-color;
  padding-top: 2px;
  &:hover {
    border-color: darken($gray_light, 5%);
  }
  &:active, &:focus {
    border-color: $primary_light;
  }
  // Arrow
  &:after {
    border-bottom: 2px solid $arrow_color;
    border-right: 2px solid $arrow_color;
    content: '';
    display: block;
    height: 8px;
    margin-top: -5px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 8px;
  }

  &.open {
    @extend :active;
    &:after {
      transform: rotate(-135deg);
    }
    .list {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0);
    }
  }
  &.disabled {
    border-color: lighten($gray_light, 2%);
    color: $gray;
    pointer-events: none;
    &:after {
      border-color: lighten($arrow_color, 20%);
    }
  }

  // Modifiers
  &.wide {
    width: 100%;
    .list {
      left: -1px !important;
      right: -1px !important;
    }
  }
  &.right {
    float: right;
    .list {
      left: auto;
      right: 0;
    }
  }
  &.small {
    font-size: $font_size_small;
    height: $input_height_small;
    line-height: $input_height_small - 2;
    &:after {
      height: 4px;
      width: 4px;
    }
    .option {
      line-height: $input_height_small - 2;
      min-height: $input_height_small - 2;
    }
  }

  // List and options
  .list {
    background-color: #fff;
    border-radius: $input_border_radius;
    box-shadow: 0 0 0 1px rgba($gray_dark, .11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%; left: 0;
    transform-origin: 50% 0;
    transform: scale(.75) translateY(- $input_height / 2);
    transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
    z-index: 9999;
    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
	// for overflow fix. from here.
    height: 23vh;
    overflow: auto;

    // for custom scrollbar inside select box
    &::-webkit-scrollbar{
      width: 14px;
      height: 18px;
    }
    &::-webkit-scrollbar-thumb {
      height: 6px;
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      -webkit-border-radius: 7px;
      background-color: rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent
    }
  }
  .option {
    cursor: pointer;
    font-weight: 400;
    line-height: $input_height - 12;
    list-style: none;
    min-height: $input_height - 12;
    outline: none;
    padding-left: $dropdown_padding;
    padding-right: $dropdown_padding + 11;
    text-align: left;
    transition: all 0.2s;
    &:hover, &.focus, &.selected.focus {
      background-color: $gray_lighter;
    }
    &.selected {
      font-weight: 500;
    }
    &.disabled {
      background-color: transparent;
      color: $gray;
      cursor: default;
    }
  }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
  .list {
    display: none;
  }
  &.open {
    .list {
      display: block;
    }
  }
}

/* Pagination */
$hoverDuration: 170ms;
$borderColor: rgba(0,0,0,.1);

.clear{
  &:after,
  &:before{
    content: "";
    display: table;
  }
  &:after{
    clear: both;
  }
}
.pagination__wrapper {
	height: 50px;
	padding-top: 0;
	margin-bottom: 0;
	position: relative;
	text-align: center;
	width: 100%;
	@include tablet {margin-bottom: 30px;}
	&:before {
		top: -1px;
	}
	&:after {
		bottom: -1px;
	}
}

@keyframes hoverAnimation{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.pagination {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	@extend .clear;
	li {
		//border-left: 1px solid rgba(0,0,0,.2);
		display: block;
		float: left;
		padding: 5px;
		&:first-child {
			border: none;
		}
	}
	a,
	span {
		background: none;
		border: none;
		border-radius: 50%;
		box-sizing: border-box;
		color: rgba(0, 0, 0, .6);
		display: block;
		font-size: 16px;
		height: 40px;
		line-height: 40px;
		min-width: 40px;
		padding: 0;
	}
	a {
		outline: none;
		position: relative;
		transition: all 170ms linear;
		&:before {
			background: rgba(0, 0, 0, .2);
			border-radius: 50%;
			content: "";
			cursor: pointer;
			height: 0;
			left: 50%;
			opacity: 0;
			position: absolute;
			transform: translate(-50%, -50%);
			transition: all $hoverDuration linear;
			top: 50%;
			width: 0;
		}
		&:hover:not(.active) {
			color: rgba(0, 0, 0, 1);
			&:before {
				animation: hoverAnimation ($hoverDuration * 3) linear forwards;
				height: 40px;
				width: 40px;
			}
		}
		&.active {
			background: $color-1;
			color: rgba(255, 255, 255, 1);
			cursor: default;
		}
	}
	.prev,
	.next {
		font-size: 14px;
	}
}

/* Scroll top button */
#toTop {
	position: fixed;
	right: 25px;
	bottom: 25px;
	z-index: 9999;
	width: 46px;
	height: 46px;
	background-color: rgba(0,0,0,.6);
	opacity: 1;
    border-radius: 50%;
    text-align: center;
    font-size: 21px;
	color: #fff;
	cursor: pointer;
	@include mobile {display: none!important;}
	&:after {
		content: "\e899";
		font-family: "fontello";
		position: relative;
		display: block;
		top: 50%;
		-webkit-transform: translateY(-55%);
		transform: translateY(-55%);
	}
	&:hover {
		background-color: $color-1;
	}
}

/* Accordion */
.accordion_2 {
	.card {
		border: 0;
		margin-bottom: 5px;
		@include box-shadow (0 2px 4px rgba(3, 27, 78, .06));
		.card-header {
			background-color: #fff;
			border-bottom: 1px solid $border-color-2;
			padding: 20px;
		}
	}
	.card-body {
		padding: 30px 30px 0 30px;
	}
	.card-header h5 {
		@include fontSize(16px);
		a {
			border: 0;
			display: block;
			color: #999;
			i.indicator {
				@include fontSize(18px);
				font-weight: normal;
				float: right;
				color: $color-1;
			}
		}
	}
}
.card {
    border-radius: 0;
	border: 0;
	margin-bottom: 5px;
}

/*-------- 3.2 Spacing --------*/
.margin_main_container {
    margin-top: 58px;
	@include tablet {margin-top: 45px;}
}
.add_bottom_10 {
    margin-bottom: 10px;
}
.add_bottom_15 {
    margin-bottom: 15px;
}
.add_bottom_30 {
    margin-bottom: 30px;
}
.add_bottom_45 {
    margin-bottom: 45px;
}
.add_bottom_60 {
    margin-bottom: 60px;
}
.add_bottom_75 {
    margin-bottom: 75px;
}
.add_top_10 {
    margin-top: 10px;
}
.add_top_15 {
    margin-top: 15px;
}
.add_top_20 {
    margin-top: 20px;
}
.add_top_30 {
    margin-top: 30px;
}
.add_top_60 {
    margin-top: 60px;
}
.more_padding_left {
    padding-left: 40px;
}
.nomargin_top {
    margin-top: 0;
}
.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}
.nomargin {
    margin: 0 !important;
}
.margin_30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.margin_30_5 {
	padding-top: 30px;
	padding-bottom: 5px;
}
.margin_60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.margin_60_35 {
	padding-top: 60px;
	padding-bottom: 35px;
}
.margin_80 {
	padding-top: 80px;
	padding-bottom: 80px;
	@include tablet {padding-bottom: 60px; padding-top: 60px;}
}
.margin_80_55 {
	padding-top: 80px;
	padding-bottom: 55px;
	@include tablet {padding-top: 60px; padding-bottom: 35px;}
}
.margin_80_0 {
	padding-top: 80px;
	@include tablet {padding-top: 60px;}
	@include extra-small-mobile {padding-top: 30px;}
}
.margin_30_95 {
	padding-top: 30px;
	padding-bottom: 95px;
	@include tablet {padding-top: 15px;padding-bottom: 35px;}
	@include extra-small-mobile {padding-top: 5px; padding-bottom: 5px;}
}
.hidden_tablet{
	@include tablet {display: none!important;}
}
.hidden_mobile {
	@include mobile {display: none!important;}
}


/*-------- 3.3 Cookie bar --------*/
#cookie-bar {
	background: rgba(0, 0, 0, 0.8);
	height: auto;
	line-height: 24px;
	color: #eeeeee;
	text-align: center;
	padding: 15px 0;
	font-weight: 400;
	@include fontSize(13px);
	font-weight: 500;
	p {
		margin: 0;
		padding: 0;
	}
	a {
		color: #fff;
		display: inline-block;
		@include border-radius(3px);
		text-decoration: none;
		padding: 2px 10px;
		margin-left: 8px;
		@include mobile {
			display: block;
			max-width: 150px;
			margin: auto;
			margin-bottom: 5px;
		}
	}
	.cb-enable {
		background: $color-3;
		&:hover {
			background: #fff;
			color: $color-2;
		}
	}
	.cb-disable {
		background: #990000;
		&:hover {
			background: #bb0000;
		}
	}
	.cb-policy {
		background: $color-1;
		&:hover {
			background: #fff;
			color: $color-2;
		}
	}
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999999;
		&.bottom {
			bottom: 0;
			top: auto;
		}
	}
	@include mobile {
		padding: 5px 0;
	}
}

/*-------- 3.4 Sing In Modal --------*/
#sign-in-dialog {
  background: #fff;
  padding: 30px;
  padding-top: 0;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
  box-sizing: border-box;
  @include border-radius(4px);
}

/* Popup close button*/
#sign-in-dialog .mfp-close,
#lang-dialog .mfp-close {
  color: #666;
  background-color: #e4e4e4;
  @include border-radius(50%);
  top: 12px;
  right: 20px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
#sign-in-dialog .mfp-close:hover,
#lang-dialog .mfp-close:hover {
  color: #fff;
  background-color: #66676b;
}

#sign-in-dialog .mfp-close:before{
  font-size: 24px;
  font-family: 'ElegantIcons';
  content: "\4d";
}
.small-dialog-header {
  font-size: 18px;
  width: calc(100% + 60px);
  position: relative;
  left: -30px;
  top: 0;
  @include border-radius(4px 4px);
  display: inline-block;
  background-color: #f6f6f6;
  padding: 18px 20px 15px 20px;
  margin-bottom: 30px;
  h3 {
	  padding: 0;
	  margin: 0;
	  @include fontSize(18px);
	  font-weight: 500;
	}
}
#sign-in-dialog .form-group {
  position: relative;
}
#sign-in-dialog .form-group input.form-control {
  padding-left: 40px;
}
#sign-in-dialog .form-group i {
  @include fontSize(21px);
  position: absolute;
  left: 12px;
  top: 34px;
  color: #ccc;
  width: 25px;
  height: 25px;
  display: block;
  font-weight: 400!important;
}
#sign-in-dialog .form-group i.icon_lock_alt {
  top: 36px;
}

.my-toggle {
  background: transparent;
  border: 0;
  @include border-radius(3px);
  color: #888;
  cursor: pointer;
  font-size: 10px;
  @include fontSize(10px);
  font-weight: bold;
  margin-right: 5px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
	&:hover,&:focus {
	  background-color: #eee;
	  color: #555;
	  outline: transparent;
	}
}

.hideShowPassword-wrapper{
  width: 100%!important;
}

.checkboxes label{
  color: #999;
  margin-top: 5px;
}
a#forgot{
  color: #999;
  font-weight: 500;
  @include fontSize(14px);
  &:hover {
      color: $color-1;

    }
}

#forgot_pw {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  min-height: 430px;
  display: none;
  padding: 25px;
  @include mobile {padding: 0;}
  label {
	  font-weight: 500;
	}
}

.sign-in-wrapper {
  position: relative;
  height: 100%;
}

.divider {
	text-align: center;
	height: 1px;
	margin: 30px 0 20px 0;
	background-color: #e1e8ed;
	span {
		position: relative;
		top: -20px;
		background-color: #fff;
		display: inline-block;
		padding: 10px;
		font-style: italic;
	}
}

/* Magnific popup */
.mfp-bottom-bar {
    padding: 0 10px!important;
}
.mfp-counter {
    right: 10px!important;
	color: #fff!important;
}
.mfp-bg {
    opacity: 0.8!important;
}
