
* {
  box-sizing: border-box;
}

.rev-container {
  font-family: Arial;
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  padding: 20px;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.rev .fa{
    font-size: 15px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.img-rev{
    width:50px;
    height: auto;
    border: 1px solid #ddd;
    border-radius:50%;
    display: block;
    margin: auto;
}
.rev-box{

    width: 100%;
    flex-direction: row;
}
.rev{
    display: inline-block;
}

.rev-img-holder{
    padding: 5px;
}

.rev-profile-box{
   width:20%;
   /* background: green; */
   border-right: 2px dashed #ddd;


}

.rev-p{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.rev-p p{
    font-family: inherit;
    font-size: 12px;;
}

.rev-box-content{
    font-family: inherit;
    font-size: 13px;
    padding: 1vh;
}

.rev-box-content{
    width: 78%;
    /* background: red; */
}

.time-posted{
    text-align: right;
    font-size:10px;
    font-weight: 500;
    padding: 2vh;
    margin: 1vh;

}

/* Pagination links */

.rev-pagination{
    display: inline-block;
    width:70%;
    margin: 10px 30%;
}
.rev-pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }

  /* Style the active/current link */
  .rev-pagination a.active {
    background-color: dodgerblue;
    color: white;
  }

  /* Add a grey background color on mouse-over */
  .rev-pagination a:hover:not(.active) {background-color: #ddd;}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 523px) {
  .side, .middle {
    width: 100%;
  }

  .rev-pagination{
    display: unset;
    width:unset;
    margin: unset;

}
    .rev-pagination a{
        padding: 8px 15px;
    }
  .right {
    display: none;
  }

  .rev-profile-box
  {
      width: unset;
  }

  .rev{
      display: block;
  }

  .rev-box-content{
      width:100%;
  }
  .img-rev{
      display:inline;
      margin: unset;
  }
  .rev-p {
      width: unset;
  }

  .rev-img-holder{
      width: unset;
  }

  .rev-profile-box{
   /* width:20%; */
   /* background: green; */
   border-right: unset;


}

}
